.chat {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: fit-content(50%) 1fr;
    grid-template-areas:
        "log log"
        "name messageInput";
    grid-area: chat;
    overflow: hidden;
}

.chatInput {
    grid-area: messageInput;
    display: flex;
}
.chatInput input {
    flex-grow: 1;
    border: 1px solid var(--foreground-color);
    background-color: transparent;
    color: var(--foreground-color);
}
.myUsername {
    grid-area: name;
    margin-right: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 0.4rem;
}
.chatLog {
    grid-area: log;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    padding-left: 1rem;
}

.message {
    display: flex;
    flex-direction: row;
}
.message .sender {
    font-weight: bold;
    margin-right: 0.5rem;
    flex-shrink: 0;
}
.message .messageContents {
}
